<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body>
    <h2>Your Elearning order is confirmed</h2>
    <h3>Here's what your have ordered:</h3>
    <tr>
      <td>Order#: <%=order._id %></td>
      <td>Order Date: <%=order.date %></td>
    </tr>
  </body>
</html>
